@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Conductor website is used for benchmarking geo-replicated Orleans applications. It provides a simple console interface to issue commands to all load generators.</p>
